[user]
	email = ghoban14@gmail.com
	name = Gabe Hoban
	signingkey = 643624EC29CEA355
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/gabehoban/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[push]
  	default = current
[rebase]
  	autosquash = true
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail https://whatthecommit.com/index.txt)\"
