[user]
	email = ghoban14@gmail.com
	name = Gabe Hoban
	signingkey = 643624EC29CEA355
[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = gpg
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	trustctime = false
	excludesFile = /Users/gabehoban/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"
	log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[credential]
	helper = osxkeychain
[help]
	autoCorrect = 1
[fetch]
	prune = true
[apply]
	whitespace = fix
[push]
	default = tracking
